<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Wachtwoord resetten</title>
  </head>
  <body>
    <h1>Wachtwoord resetten</h1>
    <p>Met de volgende code kunt u uw wachtwoord resetten</p>
    <p>Klik <a href='{{verificationLink}}'>hier</a> om uw wachtwoord te wijzigen</p>
  </body>
</html>